
$primary: #060606;
$secondary: #f16136;
$tertiary: rgb(194, 186, 186);
$outline: rgb(155, 172, 172);
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



$screen_s_width: 600px;
$screen_m_width: 768px;
$screen_l_width: 1024px;
$screen_xl_width: 1366px;